#background1{
    -fx-background-color: #222222;
    -fx-padding: 10px;
}

#background2{
    -fx-background-color: #035C4D;
    -fx-padding: 20px;
    -fx-background-radius: 5;
}

.inputField{
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #000000;
    -fx-font-family: "Segoe UI";
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-border-width: 1;
    -fx-border-color: #000000;
    -fx-border-radius: 5;

}

.inputField:focused{
    -fx-border-color: #ffffff;
    -fx-prompt-text-fill: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-font-size: 14px;
    
}

.menuButton{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 10;
    -fx-font-weight: bold;

}

.menuButton:hover{
    -fx-background-color: #035C4D;
}