#background1{
    -fx-background-color: #222222;
    -fx-padding: 10px;

}

#background2{
    -fx-background-color: #222222;
    -fx-padding: 10px;
}

#background3{
    -fx-background-color: #035C4D;
    -fx-background-radius: 5;
    -fx-padding: 10;
}

#navBar
{
    -fx-background-color: #035C4D;
    -fx-background-radius: 5;
    -fx-padding: 10;
}

.menuButton{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 10;
    -fx-font-weight: bold;

}

.menuButton:hover{
    -fx-background-color: #035C4D;
}

.seeAllButton{
    -fx-background-color: #222222;
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
    -fx-padding: 5;
    -fx-font-size: 12;
    -fx-text-alignment: center;    
}

.seeAllButton:hover{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}
.card{
    -fx-margin: 50;
    -fx-background-color: #000000;
    -fx-border-color: #ffffff;
    -fx-border-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.card:hover{
    -fx-scale-x: 1.055;
    -fx-scale-y: 1.055;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}